@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: 'Onest', sans-serif;
}

.background{
    position: relative;
    max-width: 30vw;
    height: 100vh;
}

.logo{
    top: 250px;
    position: absolute;
    height: 300px;
    width: 30vw;
    background-color: black;
    opacity: 0.5;
}

.logo + img {
    left: 130px;
    top: 250px;
    position: absolute;
    height: 300px;
    width: auto;
}

.main{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-self: center;
    gap: 40px;
}

.form p {
    font-size: 25px;
    font-weight: 500;
}

.survey{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.questions{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    gap: 30px;
}

.questions>div{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
}

.questions>div>div {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.questions input{
    appearance: none;
}

.questions input{
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 19px;
    padding: 5px;
}

.questions input[type="text"]:focus{
    border: 1px solid rgb(0, 140, 255);
    outline: none;
    box-shadow: 0px 5px 15px rgb(0, 140, 255);
}

.questions input[type="password"]{
    border: 1px solid red;
    outline: none;
}