@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: 'Onest', sans-serif;
}

img{
    max-width: 30vw;
    height: 100vh;
}

div{
    display: flex;
    flex-direction: row;
    padding: 35px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form p {
    font-size: 25px;
    font-weight: bold;
}

